<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1{
        color:red;
        }
        .container{
        display:flex;
        justify-content:center;
        background-color:black;
        height:40px;
        padding-top:15px;
        }

        .main{
        display:flex;
        width:100%;
        justify-content:space-around;
        padding-left:20px
        }
    </style>
</head>
<body>
<h1 >this is a home page of spring mvc</h1>
<div class="container">
    <div class="main">
        <a href="aboutus">About Us</a>
        <a href="portfolio">Portfolio</a>
    </div>
</div>
</body>
</html>